* {
    border: 1px solid lightgray;
}

#calculator-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 756px) {
   
    #calculator {
        height: 44vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
    
}

@media only screen and (max-width: 756px) {
   
    #calculator {
        height:60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
    
}


#rows {
    display: flex;
    flex-direction: column;
}


#operators {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-evenly;

}

#operators > button {
    height: 30px;
    width: 30px;
    margin: 8px;
}

#equalsbtn,
#decimal,
.numbtn {
    width: 55px;
    height: 55px;
}

#numbers > div {
    display: flex;
    justify-content: center;
}

#ui {
    display: flex;
    justify-content: center;
}

#row4 {
    display: flex;
}
